{% seo %}
<script type="text/javascript" src="/assets/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/page.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/post.css"/>
<link rel="icon" href="/assets/images/favicon.png" type="image/x-icon"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97434644-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-97434644-2');
</script>
