---
---
@import "core";
@import "syntax-highlighting";

%contents-level {
  list-style: none outside;
  text-indent: 1em;
}

.contents {
  font-family: $post-font-family;
  @extend %page-width;
  width: $content-width - 20px;
  margin-bottom: 40px;
  border: dashed 1px $horizontal-line-color;
  border-radius: 5px;
  padding: 10px;
  
  .contents-title {
    @include relative-font-size(1.5);
    font-weight: $base-font-weight;
  }

  .contents-level-2 {
    @extend %contents-level;
    @include relative-font-size(0.9);
  }

  .contents-level-3 {
    @extend %contents-level;
    @include relative-font-size(0.9);
    text-indent: 2em;
  }
}

.title {
  @include relative-font-size(1.5);
  @extend %page-width;
  letter-spacing: -0.025em;
  font-family: $base-font-family;
}

.post-meta-info {
  @include relative-font-size(0.8);
  @extend %page-width;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 20px;
  
  .tag {
    color: white;
    background-color: $red-color;
    padding: 1px 4px;
    border-radius: 3px;
    vertical-align: 2px;
    
    a {
      font-size: 80%;
      color: inherit;
    }
  }

  .category {
    vertical-align: 1px;
  }
}

.content {
  $content-color: #4a4a4a;
  font-family: $post-font-family;
  @extend %page-width;
  margin-top: 40px;
  
  p {
    color: $content-color;
  }
  
  dl {
    & > dd {
      text-indent: 0px;
      padding-left: 2em;
      margin-bottom: 1em;
    }
    & > dt {
      font-weight: bold;
    }
  }
  
  .lang-label {
    text-align: right;
    font-weight: inherit;
    color: #aaa;
    text-transform: capitalize;
    
    span {
      display: inline-block;
      padding-right: 0.3em;
      padding-left: 0.3em;
      vertical-align: baseline;
      font-family: "source Code Pro","Monaco",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L","Courier New",Courier,monospace;
      @include relative-font-size(0.5);
    }
  }
  
  .copy-btn {
    display: none;
    position: relative;
    float: right;
    z-index: 100;
    margin-left: -100px;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #eee;
    
    a {
      border: none;
      display: block;
      padding: 5px 5px 3px 5px;
      color: black;
      text-align: center;
      
      &:active, &:focus, &:visited {
        border: none;
      }
    }
    
    .copy-img {
      display: inline-block;
      width: 12px;
      height: 12px;
      padding-right: 0.1em;
      vertical-align: top;
    }
  }
  
  figure.highlight {
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f8f8f8;
  }
  
  pre,
  code {
    font-family: "source Code Pro","Monaco",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L","Courier New",Courier,monospace;
  }

  code {
    padding: 1px 3px;
  }

  pre {
    padding: 8px 8px;
    margin-bottom: 0px;
    overflow-x: auto;
    
    > code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  h1, h2, h3, h4 {
    font-family: $base-font-family;
    font-weight: $base-font-weight * 1.5;
    margin-bottom: 0.5em;
  }
  
  h2 {
    border-bottom: solid 1px #ececec;
    padding-bottom: 12px;
    margin: 1.23em 0;
    @include relative-font-size(1.7);
    &:before {
      content: "\a7\a0";
      vertical-align: baseline;
    }
  }
  
  h3 {
    @include relative-font-size(1.4);
    margin-top: 1.5em
  }
  
  h4 {
    @include relative-font-size(1.1);
    margin-top: 1.5em;
  }
  
  h2 + p, h3 + p, h4 + p, 
  h5 + p, h6 + p, p + p {
    text-indent: 2em;
    word-wrap: break-word;
    word-break: normal;
  }
  
  ol, ul {
    padding-left: 3em;
  }
  
  li {
    color: $content-color;
    list-style: outside;
  } 
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  blockquote {
    border-left: solid 5px #aaa;
    text-indent: 1em;
    padding: 5px 10px;
    background-color: #eee;
    
    li {
      text-indent: 0em;
    }
    
    dl {
      & > dd {
        text-indent: 0px;
        padding-left: 3em;
        margin-bottom: 0.5em;
      }
      & > dt {
        font-weight: bold;
      }
    }
    
    p {
      margin: 0px 0px 1em 0px;
      padding: 0px;
      text-indent: 0em;
      
      &:first-child::first-letter {
        text-transform: uppercase;
        @include relative-font-size(1.5);
      }
    }
  }
  
  .footnotes {
    font-size: 0.8em;
    margin-top: 4em;
    border-top: dashed 1px #aaa;
    padding-top: 5px;
    ol {
      padding-left: 0px;
      
      li {
        list-style-position: inside;
        list-style-type: lower-roman;
      }
      
      p {
        display: inline-block;
        margin-bottom: 3px;
      }
    }
  }
  
  table {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
    
    th {
      @include relative-font-size(0.9);
      padding: 0.3em 0.5em;
      font-weight: $base-font-weight * 1.2;
      color: white;
      background-color: $red-color;
    }
    
    thead {
      tr {
        border-bottom: solid 2px #fff;
      }
    }
    
    tbody {
      @include relative-font-size(0.8);
      background-color: #fefefe;
      td {
        border-bottom: solid 1px #ddd;
        padding: 0.3em 0.5em;
      }
      
      tr:nth-child(even) {
        background-color: #f5f5f5;        
      }
      
      tr:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.post-navigator {
  @extend %page-width;
  margin-top: 40px;
  overflow: auto;
  
  .previous-navigator, .next-navigator, .home-navigator {
    float: left;
    width: 33.33%;
  }
  
  .previous-navigator {
    text-align: left;
  }
  
  .home-navigator {
    text-align: center;
  }
  
  .next-navigator {
    text-align: right;
  }
}

.message {
  visibility: visible;
  min-width: 200px;
  margin-left: -125px;
  background-color: #333;
  opacity: 1;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 12px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

.jump-top {
  position: fixed;
  bottom: 40px;
  right: 80px;
  cursor: pointer;
  border: solid 1px #eee;
  padding: 10px 10px 6px 10px;
  text-align: center;
  
  & .arrow-up {
    width: 0; 
    height: 0; 
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
  
  &:hover {
    background-color: #efefef;
  }
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.MathJax {
  outline: 0;
  span {
    font-size: 13px;
  }
}

.MathJax_Display {
  overflow-x: auto;
  overflow-y: hidden;
}