<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}{{ page.title | prepend: " &dash; " }}</title>    
    {% include head.html %}
  </head>
  <body>
    <div>
      {% include header.html %}
    </div>
    <div class="post">
      <div class="title">{{ page.title }}</div>
      <div class="solid-horizontal-line"></div>
      <div class="post-meta-info">
        <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
        <span class="separator">|</span>
        <span class="categories">分类
          {% for category in page.categories %}
            <span class="category"><a href="/categories/#{{ category | downcase }}">{{ category | downcase | capitalize }}</a></span>
          {% endfor %}
        </span>
        <span class="separator">|</span>
        <span class="tags">标签
          {% for tag in page.tags %}
            <span class="tag"><a href="/tags/#{{ tag | downcase }}">{{ tag | downcase | capitalize }}</a></span>
          {% endfor %}
        </span>
      </div>
      <div class="contents">
        {% include contents.html %}
      </div>
      <div class="content">
        {{ content }}
      </div>
      <div class="post-navigator">
        {% if page.next %}
          <div class="previous-navigator">
            <a href="{{ page.next.url }}" class="previous-post-arrow">&lt; {{ page.next.title }}</a>
          </div>
        {% else %}
          <div class="previous-navigator">&nbsp;</div>
        {% endif %}
          <div class="home-navigator"><a href="/">HOME</a></div>
        {% if page.previous %}
          <div class="next-navigator">
            <a href="{{ page.previous.url }}" class="next-post-arrow">{{ page.previous.title }} &gt;</a>
          </div>
        {% else %}
          <div class="next-navigator">&nbsp;</div>
        {% endif %}
      </div>
    </div>
  </body>
  {% include footer.html %}
</html>